<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
 
<connectionStrings><add name="Model1" connectionString="data source=DESKTOP-26RL0ML\SQLEXPRESS;initial catalog=QLKS;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>